.hd-navbar{
    display: flex;
    justify-content: space-around;
    font-family: "kanit", sans-serif;
    height: 3.5rem;
    align-items: center;
    color: #ffffff;

}

title-navbar{


}

.nv-navbar{
    font-family: "kanit", sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    font-style: normal;

    width: 50%;
    height: 3rem;
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;
}

.link{
    text-decoration: none;
    color: #ffffff;
}